.home-bar-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: 600px;
  width: 150vh;
  margin: 30px;
  border-radius: 10px;
}

.recharts-layer {
  font-size: 15px;
}

.student-bar-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: 600px;
  width: 150vh;
  margin: 30px;
  border-radius: 10px;
}
