.filters {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  min-width: 300px;
  border: 3px solid white;
  background-color: white;
  border-radius: 10px;
}

.filters > h2 {
  padding: 5px;
  background-color: transparent;
  color: rgb(155, 155, 155);
  font-size: 22px;
  margin-bottom: 20px;
}

.filters > div > h4 {
  padding: 5px;
  background-color: transparent;
  color: black;
  font-size: 18px;
}

.filters > h4 {
  padding: 5px;
  background-color: transparent;
  color: black;
  font-size: 18px;
  margin-top: 20px;
}

.student-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.student-list > div > label {
  margin: 5px;
}

.student-list > h2 {
  margin-top: 20px;
  padding: 5px;

  color: rgb(155, 155, 155);
  font-size: 20px;
}

.bar-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.bar-settings > div > label {
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.home-bar-chart {
  max-width: 100%;
  padding: 20px;
}
