.back-to-students {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 30px;
  width: 40vh;
  border: 3px solid white;
  background-color: white;
  border-radius: 10px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 30px;
  width: 40vh;
  border: 3px solid white;
  background-color: white;
  border-radius: 10px;
}

.checkbox-container > label {
  padding-top: 5px;
}

input {
  margin-right: 5px;
}
