.navbar {
  display: flex;
  flex-direction: row;

  height: 15vh;
  width: 100%;
  background-color: white;
  background-size: cover;
}

.navbar > h1 {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 50px;
  margin-top: 30px;
  color: lightskyblue;
  background-color: transparent;
}

.navbar > a {
  margin: 20px;
  margin-top: 50px;
  font-size: 20px;
  background-color: transparent;
  text-decoration: none;
  color: rgb(155, 155, 155);
  position: relative;
  transition: 0.3s;
  padding: 0px;
}

.navbar > a:before {
  content: "";
  border-bottom: 1px solid rgb(155, 155, 155);
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.3s;
}
.navbar > a:hover:before {
  width: 100%;
  padding: 0;
}
.navbar > a:active {
  background: rgb(155, 155, 155);
  color: white;
  transition: none;
}
